.testimonials {
  margin: 50px auto;
  max-width: 1000px;
}

<<<<<<< HEAD
.card {
  outline: none;
}

.cardItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width:500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  height:350px; /* Fixed height for each card */
}
.cardItem:hover{
  transform: scale(.99);
}
.cardItem p {
  margin-bottom:20px;
}

.author {
  font-weight: 500;
  color: #0f6c96;
  font-size: 25px;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  object-fit: cover;
}
.ratings{
  color: #0f6c96;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #0f6c96;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  font-size: 15px;
  color:white;
  z-index: 1;
}
.arrow:hover {
  color: #e1e1e1;
}
=======
>>>>>>> b85289450983027581cbf949ba5e534a2f16773d
.next {
  right: -35px;
}

.prev {
  left:-35px;
}


/* Responsive Adjustments */
@media only screen and (max-width: 890px) {
  .testimonials {
    padding: 0 35px;
    box-sizing: border-box;
  }
  .cardItem {
    max-width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .cardItem {
    height: auto;
    padding: 15px;
  }
  
  .img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .author {
    font-size: 20px;
  }
}