@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}

:root {
  /* colors */
  --blue-100: #0F6C96;
  --blue-200: #1287BB;
  --blue-300: #0B5171;
  --blue-400: #F6FBFE;

  --white-100: #FFFFFF;

  --black-100: #000000;
  --black-200: #1A1A1A;
  --black-300: #333333;

  /* fonts */
  --ff-ws: "Work Sans",
    sans-serif;
  --ff-rc: "Roboto Condensed",
    sans-serif;

  /* sizing */
  --spacing: 1rem;
  --screen-width: 90rem;

  /* misc */
  --transition: 250ms;
  --border-radius: 1rem;
}



*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--ff-ws);
}

footer {
  font-family: var(--ff-rc);
}


ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}