/* .main__what-and-why {
    border: 1px solid red;
}

.main__what-and-why_top {}

.main__what-and-why_top-left {}

.main__what-and-why_top-right {}

.main__what-and-why_bottom {}

.main__what-and-why_bottom-left {}

.main__what-and-why_bottom-right {} */

.why{
    display: flex;
    flex-direction: row;
    width: 1201px;
    height: 540px;
    gap: 64px;
}

.whyimage img {
    width: 593px;
    height: 490px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.write{
    display: flex;
    flex-direction: column;
    width:544px;
    height:517px;
}

.whyimage{
    width: 593px;
    height: 490px;
}

.writeUps1{
    display: flex;
    flex-direction: column;
    width: 544px;
    height:(117.5px);
    border: 0px 0px 1px 0px;
    gap: 8px;
    border-bottom: 1px solid #E9E9E9;
    

}
.writeUps2{
    display: flex;
    flex-direction: column;
    width: 544px;
    height: 134px;
    border: 0px 0px 1px 0px;
    gap: 8px;
    border-bottom: 1px solid #E9E9E9;

}

.writeUps3{
    display: flex;
    flex-direction: column;
    width:544px;
    height: 145px;
    border: 0px 0px 1px 0px;
    gap: 8px;
    border-bottom: 1px solid #E9E9E9;
    
}

.writeUps4{
    display: flex;
    flex-direction: column;
    width:544px;
    height:121px;
    gap: 8px;
    

}
.wtitle{
    display: flex;
    width: 238px;
    height: 38.5px;
    padding: 0px 0px 0.5px 0px;
    gap: 8px;

}
.wtitle img{
    width: 38px;
    height: 38px;
}
.wtitle h1 {
    width: 192px;
    height: 32px ; 
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;

}
.wtitle_p{
    width: 541.99px;
    height: 71px;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    padding-bottom: 8px;


}
.wtitle2 {
    display: flex;
    width: 277px;
    height: 54px;
    padding: 8px 0px;
    gap: 8px;
}
.wtitle2 img{
    width: 38px;
    height: 38px;
}

.wtitle2 h1{    
    width: 231px;
    height: 32px;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
}

.wtitle3 {
    display: flex;
    width:317px;
    height:54px;
    padding: 8px 0px 8px 0px;
    gap: 8px;

}

.wtitle3 img{
    width: 38px;
    height: 38px;
}
.wtitle3 h1 {
    width: 271px;
    height: 32px;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
}

.wtitle4 {
    display: flex;
    width: 277px;
    height: 54px;
    padding: 8px 0px ;
    gap: 8px;
}

.wtitle4 img{
    width: 38px;
    height: 38px;
}

.wtitle4 h1 {
     width: 231px;
    height: 32px;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;

}